*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    font-family: 'Quicksand', sans-serif;  
}

.container{
    display: flex;
}


.left{
    position: relative;
}

.italy-pic{
    image-rendering:pixelated;
    max-width: 45vw;
    height: 100vh; 
    /* height:calc(100vh + 200px); */
}

.banner {
    position:absolute; 
    top: 25vh; 
    width: -webkit-fill-available;
    height: 100px;
    background-color: rgb(0 0 0 /50%);
    text-align: center;
}

.odin-logo{
    height: 80px;
}

.wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.banner p{
    font-size: 2.5rem;
    color: white;
}

.form-section{
    display:table;
}

.form-section-cell{
    display: table-cell;
}

.right{
    background-color:rgb(158 158 158 / 9%);

}

.top {
    height: calc(20vh + 25px);
}


.top p {
    margin: 100px 25px 0px 40px;
    font-size: 1.5rem;
}

.middle{
    background-color:#ffffffcf;
}


.middle form {
    margin: 20px 0px 20px 40px;
    padding-bottom:30px;
}

.middle p{
    font-size: 1.5rem;
    margin: 20px 0px 20px 40px;
    padding: 15px 0px;
}

input,label{
    display:flex;
    flex-direction: column;
}

label{
    font-size: 0.8rem;
    font-weight:bolder;
}

input{
    margin-right: 70px;
    margin-bottom:25px;
    padding: 3px 10px;
    width: 85%;
    height:30px;
    border:0.5px solid lightgrey;
    border-radius:5px;
}

input:focus{
    border:0.2px solid rgba(14, 14, 223, 0.77);
    box-shadow: 2px 3px 10px #888888;
}

button{
    background-color:#09a9d8;
    color:white;
    padding: 10px 35px;
    border-radius: 4px;
    font-family: inherit;
    font-size:1rem;
}

button:hover{
    border: 0.5px solid black;
}

.bottom button, .bottom p{
    margin: 15px 0px 20px 40px;
} 

.error{
    border:0.2px solid #d80101;
}

